<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!--  #                                                           -->
    <!-- # # Appenders (output destinations), Layout (output format)  -->
    <!--  #                                                           -->

    <!-- console appender -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %t %-5p %c{2}:%L - %m%n" />
        </layout>
    </appender>

    <!-- file appender -->
    <appender name="logFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="logFile.txt"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x(%F:%L) - %m%n" />
        </layout>
    </appender>

    <!-- Perf4J appender -->
    <appender name="perfLogFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="perfLogFile.txt"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>


    <!--  #                                                           -->
    <!-- # # Loggers (control which messages are enabled or disabled) -->
    <!--  #                                                           -->

    <!-- Perf4J logger -->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="perfLogFile"/>
    </logger>

    <!-- Application loggers -->
    <logger name="step.framework">
        <level value="INFO"/>
    </logger>

    <!-- Root logger -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="logFile"/>
    </root>

</log4j:configuration>
